@mjml()
  <mjml>
    <mj-body>
      <mj-section>
        <mj-column>
          <mj-text font-size="20px">
            Bonjour {{ username }},
          </mj-text>
          <mj-text>
            Cliquez sur ce lien pour vérifier votre email :
            <a href="{{ verifyUrl }}">Vérifier</a>
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end
